TestNetwork/Service References/ServiceReference1/LocalCenaServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocalCenaServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICenaPlusServer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9999/ww?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9999/ww?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9999/ww?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CenaPlus.Network" />
      <xsd:import schemaLocation="http://localhost:9999/ww?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" />
      <xsd:import schemaLocation="http://localhost:9999/ww?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICenaPlusServer_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Authenticate_AlreadyLoggedInErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q1:AlreadyLoggedInError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfile" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetProfile_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q2:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetContestList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContestList" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetContestList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContestListResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetContestList_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q3:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetContest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContest" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetContest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContestResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetContest_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q4:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteContest_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContest" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteContest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContestResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteContest_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q5:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteContest_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q6:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateContest_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContest" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateContest_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContestResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateContest_ValidationErrorFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q7:ValidationError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateContest_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q8:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateContest_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q9:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateContest_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateContest" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateContest_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateContestResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateContest_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q10:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateContest_ValidationErrorFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q11:ValidationError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetProblemList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProblemList" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetProblemList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProblemListResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetProblemList_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q12:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetProblemList_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q13:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateProblem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProblem" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateProblem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProblemResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateProblem_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q14:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateProblem_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q15:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateProblem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProblem" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateProblem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProblemResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateProblem_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q16:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateProblem_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q17:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetProblem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProblem" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetProblem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProblemResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetProblem_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q18:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteProblem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProblem" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteProblem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProblemResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteProblem_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q19:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteProblem_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q20:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Submit_InputMessage">
    <wsdl:part name="parameters" element="tns:Submit" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Submit_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Submit_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q21:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Submit_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q22:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetRecordList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordList" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetRecordList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordListResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetRecordList_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q23:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetRecordList_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q24:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Rejudge_InputMessage">
    <wsdl:part name="parameters" element="tns:Rejudge" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Rejudge_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejudgeResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Rejudge_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q25:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Rejudge_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q26:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecord" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetRecord_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q27:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetQuestionList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionList" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetQuestionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionListResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetQuestionList_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q28="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q28:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetQuestionList_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q29="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q29:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestion" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetQuestion_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q30:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_AskQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:AskQuestion" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_AskQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AskQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_AskQuestion_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q31="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q31:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_AskQuestion_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q32="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q32:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserList" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetUserList_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q33="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q33:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetUser_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q34="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q34:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateUser_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q35="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q35:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateUser_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q36="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q36:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateUser_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q37="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q37:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteUser_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q38="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q38:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteUser_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q39="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q39:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetOnlineList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlineList" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetOnlineList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlineListResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetOnlineList_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q40="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q40:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Kick_InputMessage">
    <wsdl:part name="parameters" element="tns:Kick" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Kick_OutputMessage">
    <wsdl:part name="parameters" element="tns:KickResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Kick_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q41="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q41:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Kick_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q42="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q42:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetTestCaseList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestCaseList" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetTestCaseList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestCaseListResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetTestCaseList_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q43="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q43:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetTestCaseList_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q44="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q44:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetTestCase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestCase" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetTestCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestCaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetTestCase_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q45="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q45:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteTestCase_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTestCase" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteTestCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTestCaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteTestCase_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q46="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q46:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeleteTestCase_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q47="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q47:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateTestCase_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTestCase" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateTestCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTestCaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateTestCase_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q48="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q48:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdateTestCase_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q49="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q49:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateTestCase_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTestCase" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateTestCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTestCaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateTestCase_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q50="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q50:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_CreateTestCase_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q51="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q51:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_RequestPrinting_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestPrinting" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_RequestPrinting_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestPrintingResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_RequestPrinting_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q52="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q52:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_RequestPrinting_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q53="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q53:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetPrintRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintRequest" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetPrintRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetPrintRequest_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q54="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q54:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetPrintRequestList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintRequestList" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetPrintRequestList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintRequestListResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetPrintRequestList_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q55="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q55:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_GetPrintRequestList_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q56="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q56:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdatePrintRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrintRequest" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdatePrintRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrintRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdatePrintRequest_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q57="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q57:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_UpdatePrintRequest_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q58="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q58:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeletePrintRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrintRequest" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeletePrintRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrintRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeletePrintRequest_NotFoundErrorFault_FaultMessage">
    <wsdl:part xmlns:q59="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q59:NotFoundError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_DeletePrintRequest_AccessDeniedErrorFault_FaultMessage">
    <wsdl:part xmlns:q60="http://schemas.datacontract.org/2004/07/CenaPlus.Network" name="detail" element="q60:AccessDeniedError" />
  </wsdl:message>
  <wsdl:message name="ICenaPlusServer_Bye_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Bye" />
  </wsdl:message>
  <wsdl:portType name="ICenaPlusServer">
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetVersion" message="tns:ICenaPlusServer_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetVersionResponse" message="tns:ICenaPlusServer_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/Authenticate" message="tns:ICenaPlusServer_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/AuthenticateResponse" message="tns:ICenaPlusServer_Authenticate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/AuthenticateAlreadyLoggedInErrorFault" name="AlreadyLoggedInErrorFault" message="tns:ICenaPlusServer_Authenticate_AlreadyLoggedInErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetProfile" message="tns:ICenaPlusServer_GetProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetProfileResponse" message="tns:ICenaPlusServer_GetProfile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetProfileAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetProfile_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContestList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetContestList" message="tns:ICenaPlusServer_GetContestList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetContestListResponse" message="tns:ICenaPlusServer_GetContestList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetContestListAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetContestList_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetContest" message="tns:ICenaPlusServer_GetContest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetContestResponse" message="tns:ICenaPlusServer_GetContest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetContestAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetContest_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteContest" message="tns:ICenaPlusServer_DeleteContest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteContestResponse" message="tns:ICenaPlusServer_DeleteContest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteContestNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_DeleteContest_NotFoundErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteContestAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_DeleteContest_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateContest" message="tns:ICenaPlusServer_UpdateContest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateContestResponse" message="tns:ICenaPlusServer_UpdateContest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateContestValidationErrorFault" name="ValidationErrorFault" message="tns:ICenaPlusServer_UpdateContest_ValidationErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateContestNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_UpdateContest_NotFoundErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateContestAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_UpdateContest_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateContest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateContest" message="tns:ICenaPlusServer_CreateContest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateContestResponse" message="tns:ICenaPlusServer_CreateContest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateContestAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_CreateContest_AccessDeniedErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateContestValidationErrorFault" name="ValidationErrorFault" message="tns:ICenaPlusServer_CreateContest_ValidationErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProblemList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetProblemList" message="tns:ICenaPlusServer_GetProblemList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetProblemListResponse" message="tns:ICenaPlusServer_GetProblemList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetProblemListNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_GetProblemList_NotFoundErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetProblemListAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetProblemList_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProblem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateProblem" message="tns:ICenaPlusServer_CreateProblem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateProblemResponse" message="tns:ICenaPlusServer_CreateProblem_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateProblemAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_CreateProblem_AccessDeniedErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateProblemNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_CreateProblem_NotFoundErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProblem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateProblem" message="tns:ICenaPlusServer_UpdateProblem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateProblemResponse" message="tns:ICenaPlusServer_UpdateProblem_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateProblemAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_UpdateProblem_AccessDeniedErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateProblemNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_UpdateProblem_NotFoundErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProblem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetProblem" message="tns:ICenaPlusServer_GetProblem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetProblemResponse" message="tns:ICenaPlusServer_GetProblem_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetProblemAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetProblem_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProblem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteProblem" message="tns:ICenaPlusServer_DeleteProblem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteProblemResponse" message="tns:ICenaPlusServer_DeleteProblem_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteProblemNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_DeleteProblem_NotFoundErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteProblemAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_DeleteProblem_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/Submit" message="tns:ICenaPlusServer_Submit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/SubmitResponse" message="tns:ICenaPlusServer_Submit_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/SubmitNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_Submit_NotFoundErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/SubmitAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_Submit_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetRecordList" message="tns:ICenaPlusServer_GetRecordList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetRecordListResponse" message="tns:ICenaPlusServer_GetRecordList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetRecordListAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetRecordList_AccessDeniedErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetRecordListNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_GetRecordList_NotFoundErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rejudge">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/Rejudge" message="tns:ICenaPlusServer_Rejudge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/RejudgeResponse" message="tns:ICenaPlusServer_Rejudge_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/RejudgeAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_Rejudge_AccessDeniedErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/RejudgeNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_Rejudge_NotFoundErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetRecord" message="tns:ICenaPlusServer_GetRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetRecordResponse" message="tns:ICenaPlusServer_GetRecord_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetRecordAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetRecord_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetQuestionList" message="tns:ICenaPlusServer_GetQuestionList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetQuestionListResponse" message="tns:ICenaPlusServer_GetQuestionList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetQuestionListAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetQuestionList_AccessDeniedErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetQuestionListNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_GetQuestionList_NotFoundErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetQuestion" message="tns:ICenaPlusServer_GetQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetQuestionResponse" message="tns:ICenaPlusServer_GetQuestion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetQuestionAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetQuestion_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AskQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/AskQuestion" message="tns:ICenaPlusServer_AskQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/AskQuestionResponse" message="tns:ICenaPlusServer_AskQuestion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/AskQuestionAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_AskQuestion_AccessDeniedErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/AskQuestionNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_AskQuestion_NotFoundErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetUserList" message="tns:ICenaPlusServer_GetUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetUserListResponse" message="tns:ICenaPlusServer_GetUserList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetUserListAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetUserList_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetUser" message="tns:ICenaPlusServer_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetUserResponse" message="tns:ICenaPlusServer_GetUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetUserAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetUser_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateUser" message="tns:ICenaPlusServer_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateUserResponse" message="tns:ICenaPlusServer_CreateUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateUserAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_CreateUser_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateUser" message="tns:ICenaPlusServer_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateUserResponse" message="tns:ICenaPlusServer_UpdateUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateUserNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_UpdateUser_NotFoundErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateUserAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_UpdateUser_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteUser" message="tns:ICenaPlusServer_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteUserResponse" message="tns:ICenaPlusServer_DeleteUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteUserNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_DeleteUser_NotFoundErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteUserAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_DeleteUser_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlineList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetOnlineList" message="tns:ICenaPlusServer_GetOnlineList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetOnlineListResponse" message="tns:ICenaPlusServer_GetOnlineList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetOnlineListAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetOnlineList_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Kick">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/Kick" message="tns:ICenaPlusServer_Kick_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/KickResponse" message="tns:ICenaPlusServer_Kick_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/KickAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_Kick_AccessDeniedErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/KickNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_Kick_NotFoundErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTestCaseList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetTestCaseList" message="tns:ICenaPlusServer_GetTestCaseList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetTestCaseListResponse" message="tns:ICenaPlusServer_GetTestCaseList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetTestCaseListAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetTestCaseList_AccessDeniedErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetTestCaseListNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_GetTestCaseList_NotFoundErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTestCase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetTestCase" message="tns:ICenaPlusServer_GetTestCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetTestCaseResponse" message="tns:ICenaPlusServer_GetTestCase_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetTestCaseAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetTestCase_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTestCase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteTestCase" message="tns:ICenaPlusServer_DeleteTestCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteTestCaseResponse" message="tns:ICenaPlusServer_DeleteTestCase_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteTestCaseAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_DeleteTestCase_AccessDeniedErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/DeleteTestCaseNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_DeleteTestCase_NotFoundErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTestCase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateTestCase" message="tns:ICenaPlusServer_UpdateTestCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateTestCaseResponse" message="tns:ICenaPlusServer_UpdateTestCase_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateTestCaseNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_UpdateTestCase_NotFoundErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdateTestCaseAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_UpdateTestCase_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTestCase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateTestCase" message="tns:ICenaPlusServer_CreateTestCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateTestCaseResponse" message="tns:ICenaPlusServer_CreateTestCase_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateTestCaseAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_CreateTestCase_AccessDeniedErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/CreateTestCaseNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_CreateTestCase_NotFoundErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestPrinting">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/RequestPrinting" message="tns:ICenaPlusServer_RequestPrinting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/RequestPrintingResponse" message="tns:ICenaPlusServer_RequestPrinting_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/RequestPrintingAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_RequestPrinting_AccessDeniedErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/RequestPrintingNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_RequestPrinting_NotFoundErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrintRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetPrintRequest" message="tns:ICenaPlusServer_GetPrintRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetPrintRequestResponse" message="tns:ICenaPlusServer_GetPrintRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetPrintRequestAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetPrintRequest_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrintRequestList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/GetPrintRequestList" message="tns:ICenaPlusServer_GetPrintRequestList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/GetPrintRequestListResponse" message="tns:ICenaPlusServer_GetPrintRequestList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetPrintRequestListNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_GetPrintRequestList_NotFoundErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/GetPrintRequestListAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_GetPrintRequestList_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePrintRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdatePrintRequest" message="tns:ICenaPlusServer_UpdatePrintRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdatePrintRequestResponse" message="tns:ICenaPlusServer_UpdatePrintRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdatePrintRequestAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_UpdatePrintRequest_AccessDeniedErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/UpdatePrintRequestNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_UpdatePrintRequest_NotFoundErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePrintRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICenaPlusServer/DeletePrintRequest" message="tns:ICenaPlusServer_DeletePrintRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/DeletePrintRequestResponse" message="tns:ICenaPlusServer_DeletePrintRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/DeletePrintRequestNotFoundErrorFault" name="NotFoundErrorFault" message="tns:ICenaPlusServer_DeletePrintRequest_NotFoundErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICenaPlusServer/DeletePrintRequestAccessDeniedErrorFault" name="AccessDeniedErrorFault" message="tns:ICenaPlusServer_DeletePrintRequest_AccessDeniedErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Bye">
      <wsdl:output wsaw:Action="http://tempuri.org/ICenaPlusServer/Bye" message="tns:ICenaPlusServer_Bye_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICenaPlusServer" type="tns:ICenaPlusServer">
    <wsp:PolicyReference URI="#NetTcpBinding_ICenaPlusServer_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AlreadyLoggedInErrorFault">
        <soap12:fault use="literal" name="AlreadyLoggedInErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetContestList">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetContestList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetContest">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetContest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteContest">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/DeleteContest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateContest">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/UpdateContest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationErrorFault">
        <soap12:fault use="literal" name="ValidationErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateContest">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/CreateContest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationErrorFault">
        <soap12:fault use="literal" name="ValidationErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProblemList">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetProblemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateProblem">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/CreateProblem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateProblem">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/UpdateProblem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProblem">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetProblem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteProblem">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/DeleteProblem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRecordList">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetRecordList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Rejudge">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/Rejudge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRecord">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQuestionList">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetQuestionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AskQuestion">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/AskQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOnlineList">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetOnlineList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Kick">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/Kick" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTestCaseList">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetTestCaseList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTestCase">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetTestCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteTestCase">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/DeleteTestCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateTestCase">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/UpdateTestCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateTestCase">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/CreateTestCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RequestPrinting">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/RequestPrinting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPrintRequest">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetPrintRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPrintRequestList">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/GetPrintRequestList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePrintRequest">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/UpdatePrintRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeletePrintRequest">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/DeletePrintRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotFoundErrorFault">
        <soap12:fault use="literal" name="NotFoundErrorFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AccessDeniedErrorFault">
        <soap12:fault use="literal" name="AccessDeniedErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Bye">
      <soap12:operation soapAction="http://tempuri.org/ICenaPlusServer/Bye" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocalCenaServer">
    <wsdl:port name="NetTcpBinding_ICenaPlusServer" binding="tns:NetTcpBinding_ICenaPlusServer">
      <soap12:address location="net.tcp://localhost:9980/CenaPlusServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9980/CenaPlusServer</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>