TestNetwork/Service References/ServiceReference1/ww.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleAsInt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Contest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PrintingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeAsInt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contest" nillable="true" type="tns:Contest" />
  <xs:simpleType name="ContestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OI" />
      <xs:enumeration value="ACM" />
      <xs:enumeration value="Codeforces" />
      <xs:enumeration value="TopCoder" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContestType" nillable="true" type="tns:ContestType" />
  <xs:simpleType name="ProgrammingLanguage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="C" />
      <xs:enumeration value="CXX" />
      <xs:enumeration value="CXX11" />
      <xs:enumeration value="Java" />
      <xs:enumeration value="Pascal" />
      <xs:enumeration value="Python27" />
      <xs:enumeration value="Python33" />
      <xs:enumeration value="Ruby" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProgrammingLanguage" nillable="true" type="tns:ProgrammingLanguage" />
  <xs:complexType name="ArrayOfProgrammingLanguage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgrammingLanguage" type="tns:ProgrammingLanguage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgrammingLanguage" nillable="true" type="tns:ArrayOfProgrammingLanguage" />
  <xs:complexType name="Problem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContestID" type="xs:int" />
      <xs:element minOccurs="0" name="ContestTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForbiddenLanguagesAsString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MemoryLimit" type="xs:long" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Spj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpjLanguageAsInt" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Std" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StdLanguageAsInt" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TestCasesCount" type="xs:int" />
      <xs:element minOccurs="0" name="TimeLimit" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Validator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidatorLanguageAsInt" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Problem" nillable="true" type="tns:Problem" />
  <xs:complexType name="Record">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageAsInt" type="xs:int" />
      <xs:element minOccurs="0" name="MemoryUsage" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ProblemID" type="xs:int" />
      <xs:element minOccurs="0" name="ProblemTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusAsInt" type="xs:int" />
      <xs:element minOccurs="0" name="SubmissionTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeUsage" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserNickName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Record" nillable="true" type="tns:Record" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AskerID" type="xs:int" />
      <xs:element minOccurs="0" name="AskerNickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContestID" type="xs:int" />
      <xs:element minOccurs="0" name="ContestName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusAsInt" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:simpleType name="UserRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Banned" />
      <xs:enumeration value="Competitor" />
      <xs:enumeration value="Manager" />
      <xs:enumeration value="System" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:complexType name="TestCase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Input" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="InputHash" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="InputPreview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InputSize" type="xs:int" />
      <xs:element minOccurs="0" name="Output" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="OutputPreview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutputSize" type="xs:int" />
      <xs:element minOccurs="0" name="ProblemID" type="xs:int" />
      <xs:element minOccurs="0" name="ProblemTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeAsInt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestCase" nillable="true" type="tns:TestCase" />
  <xs:simpleType name="TestCaseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pretest" />
      <xs:enumeration value="Systemtest" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TestCaseType" nillable="true" type="tns:TestCaseType" />
  <xs:complexType name="PrintRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContestID" type="xs:int" />
      <xs:element minOccurs="0" name="ContestTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Copies" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusAsInt" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserNickName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrintRequest" nillable="true" type="tns:PrintRequest" />
  <xs:simpleType name="PrintRequestStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Printing" />
      <xs:enumeration value="Done" />
      <xs:enumeration value="Rejected" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PrintRequestStatus" nillable="true" type="tns:PrintRequestStatus" />
</xs:schema>