TestNetwork/Service References/ServiceReference1/ww1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CenaPlus.Network" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CenaPlus.Network" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AlreadyLoggedInError">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="AlreadyLoggedInError" nillable="true" type="tns:AlreadyLoggedInError" />
  <xs:complexType name="AccessDeniedError">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="AccessDeniedError" nillable="true" type="tns:AccessDeniedError" />
  <xs:complexType name="NotFoundError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotFoundError" nillable="true" type="tns:NotFoundError" />
  <xs:complexType name="ValidationError">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ValidationError" nillable="true" type="tns:ValidationError" />
</xs:schema>