TestNetwork/Service References/ServiceReference1/ww4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/ww?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" />
  <xs:import schemaLocation="http://localhost:9999/ww?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="GetProfileResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContestList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContestListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetContestListResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="GetContestResult" nillable="true" type="q3:Contest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="type" nillable="true" type="q4:ContestType" />
        <xs:element minOccurs="0" name="printingEnabled" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="type" type="q5:ContestType" />
        <xs:element minOccurs="0" name="printingEnabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateContestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contestID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProblemListResult" nillable="true" type="q6:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contestID" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
        <xs:element minOccurs="0" name="timeLimit" type="xs:int" />
        <xs:element minOccurs="0" name="memoryLimit" type="xs:long" />
        <xs:element minOccurs="0" name="std" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="spj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="validator" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="stdLanguage" nillable="true" type="q7:ProgrammingLanguage" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="spjLanguage" nillable="true" type="q8:ProgrammingLanguage" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="validatorLanguage" nillable="true" type="q9:ProgrammingLanguage" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="forbiddenLanguages" nillable="true" type="q10:ArrayOfProgrammingLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProblemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateProblemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="score" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="timeLimit" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="memoryLimit" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="std" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="spj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="validator" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="stdLanguage" nillable="true" type="q11:ProgrammingLanguage" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="spjLanguage" nillable="true" type="q12:ProgrammingLanguage" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="validatorLanguage" nillable="true" type="q13:ProgrammingLanguage" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="forbiddenLanguages" nillable="true" type="q14:ArrayOfProgrammingLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProblemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="GetProblemResult" nillable="true" type="q15:Problem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProblemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Submit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="problemID" type="xs:int" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="language" type="q16:ProgrammingLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contestID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRecordListResult" nillable="true" type="q17:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rejudge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejudgeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="GetRecordResult" nillable="true" type="q18:Record" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contestID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetQuestionListResult" nillable="true" type="q19:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="GetQuestionResult" nillable="true" type="q20:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AskQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contestID" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AskQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AskQuestionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserListResult" nillable="true" type="q21:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="GetUserResult" nillable="true" type="q22:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="role" type="q23:UserRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="role" nillable="true" type="q24:UserRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOnlineListResult" nillable="true" type="q25:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kick">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KickResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestCaseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="problemID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestCaseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTestCaseListResult" nillable="true" type="q26:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="GetTestCaseResult" nillable="true" type="q27:TestCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestCaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTestCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="output" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="type" nillable="true" type="q28:TestCaseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTestCaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTestCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="problemID" type="xs:int" />
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="output" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="type" type="q29:TestCaseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTestCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTestCaseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPrinting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contestID" type="xs:int" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copies" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPrintingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestPrintingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="GetPrintRequestResult" nillable="true" type="q30:PrintRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintRequestList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contestID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintRequestListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPrintRequestListResult" nillable="true" type="q31:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrintRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copies" nillable="true" type="xs:int" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CenaPlus.Entity" minOccurs="0" name="status" nillable="true" type="q32:PrintRequestStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrintRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrintRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrintRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Bye">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>